h1 {
    color: blue;
}

body {
    font-family: helvetica, arial, sans-serif;
}

h1 {
    color: #3a241d;
    text-align: center;
}

#contenedor-izquierdo {
	background-color: #eee;
	width: 15%;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
	padding: 10px;
}

#contenedor-derecho {
	background-color: #eee;
	width: 15%;
	height: 100%;
	right: 0px;
	top: 0px;
	position: absolute;
	padding: 10px;
}

.contenedor-componente {
	position: relative;
	height: 10.5%;
	left: 20%; 
    width: 100px;
    z-index: 50;
}

.componente {
	position: absolute;
	max-width: 150%;
	max-height: 150%;
	z-index: 100;
}

.cielo {
	height: 80%;
	width: 60%;
	background: #BDE6F1;
	border-radius: 1rem;
	position: absolute;
	bottom: 0.5%;
	left: 20%;
	z-index: -1;

    display: flex;
    justify-content: center;

}

.cielo .componente{
    margin-top: 16px;
}

.suelo {
	width: 60%;
	height: 45%;
    background: #C9E4C5;
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	bottom: 1%;
	left: 20%;
	opacity: 0.7;
	z-index: 1;

    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.suelo .contenedor-componente{
    height: 55.5%;
}

.pajaro1{
    position: absolute;
    top: 270px;
}

.pajaro2{
    position: absolute;
    top: 270px;
    left: 50px;
}
.suelo #plaza2{
    margin-left: 38px;
}

